!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
default-authentication-plugin=mysql_native_password
slow_query_log-file = /var/log/mysql/mysql-slow.log
long_query_time = 5